@import './styles/colors.css';

.App {
  text-align: center;
  padding: 60px;
}

@media (max-width: 1024px) {
  .App {
    padding: 15px;
  }
}

.appLogo {
  width: 200px;
}

.appTitle {
  margin-bottom: 40px;
  color: var(--font-dark);
}
