@import '../../styles/colors.css';
@import url('//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');

.component {
  padding-top: 40px;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
}

.interfaceName {
  margin-right: 5px;
  color: var(--font-dark);
}

.interfaceInfo {
  cursor: pointer;
  border-bottom: 1px dotted var(--font-dark);
}

.userIcon {
  font-size: 18px;
  color: var(--font-dark);
  margin-right: 2px;
}

.interfaceUsers {
  color: blue;
  font-weight: bold;
  font-size: 22px;
}
