[v-cloak] {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;

    background-color: aquamarine;
}

.device {
    height: 33%;

    background-color: coral;
    clear: both;
}

.interface-group {
    clear: both;
    height: 50%;
}

.device.crs-mainrack .interface-group {
    height: 100%;
}

.interfaces {
    width: 66%;
    float: left;
}

.interface {
    float: left;
    width: 50%;
    height: 100%;
    background-color: greenyellow;
}

.statistics {
    width: 34%;
    float: left;
    background-color: darkmagenta;
}
