[v-cloak] {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {

}

.devices {

}

.device {
    height: 33%;
    clear: both;
}

.interfaces {

}

.interface {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid gray;
}
