@import '../../styles/colors.css';
.component {
  border: 1px solid #eee;
  padding: 20px;
}

.interfaces {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

h3 {
  color: var(--font-dark);
}

h4 {
  font-size: 15px;
}

.chart {
  padding-top: 20px;
}

.titleIcon {
  margin-right: 5px;
}
